<section id="cards">
    <h2>{{cardsTitle}}</h2>
    <div class="cards-container">
        {{#each cardsItems}}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <p class="card-text">{{description}}</p>
            </div>
            <div class="card-footer">
                <a href="{{link}}" class="card-link">{{linkText}}</a>
            </div>
        </div>
        {{/each}}
    </div>
</section>