<section id="half-inverted-panel">
    <div>
        <h2>{{halfPanelTitle}}</h2>
        <p>{{halfPanelDescription}}</p>
        <a href="{{halfPanelLink}}">{{halfPanelLinkText}}</a>
    </div>
    <div>
        <img src="{{halfPanelImageSrc}}" alt="{{halfPanelImageAlt}}" />
    </div>
</section>