<section id="hero-panel">
    <div>
        <p>{{heroSeason}}</p>
        <h1>{{heroTitle}}</h1>
        <p>{{heroDescription}}</p>
        <div>
            <a href="{{heroPrimaryLink}}">{{heroPrimaryText}}</a>
            <a href="{{heroSecondaryLink}}">{{heroSecondaryText}}</a>
        </div>
    </div>
</section>